* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: rgba(0, 0, 0, 1);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

#header {
    padding: 30px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    img {
        margin-right: 50px;
    }
}

/* .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    
    input {
        font-weight: 500;
        font-size: 16px;
        padding: 8px 100px 8px 20px;
        background: rgba(255, 255, 255, 0.26);
        border-radius: 20px;
        border: none;
        color: white;
    }
} */

.header-logo {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 200px;
    .header-top {
        position: relative;
        input {
            width: 462px;
            height: 45px;
            background: #7a7a7a73;
            border-radius: 25px;
            padding: 0 35px;
            border: none;
            color: white;
        }
        ion-icon {
            position: absolute;
            top: 6px;
            right: 10px;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }
        ::placeholder {
            color: white;
        }
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background: rgba(1, 52, 117, 1);
    padding: 10px 30px;
    border-radius: 20px;
    a {
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.799);
        padding-bottom: 3px;
        padding-top: 3px ;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-in-out;
    }
    a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 3px;
        transform: scale(1.1);
    }
}

#hero {
    padding: 50px 0;
}

.bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    h2 {
        font-weight: 500;
        font-size: 14px;
    }
}

.hero-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    h1 {
        font-weight: 600;
        font-size: 28px;
        color: white;
        margin-bottom: 30px;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
        font-weight: 600;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    h4 {
        font-weight: 500;
        font-size: 13px;
        span {
            font-weight: 600;
            font-size: 20px;
            text-decoration: underline;
            margin-right: 8px;
        }
    }
    p {
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.747);
    }
    ion-icon {
        color: white;
        font-size: 15px;
    }
}

#footer {
    padding: 50px 0;
    background: rgba(31, 31, 31, 1);
}

.footer {
    img {
        margin-bottom: 30px;
    }
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}


.footer-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    h2 {
        font-weight: 600;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }
    a {
        font-weight: 400;
        font-size: 19px;
        color: rgba(255, 255, 255, 0.808);
    }
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#djevy {
    padding: 50px 0;
}

.djevy {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
}

.djevy-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    color: white;
    h1 {
        font-weight: 600;
        font-size: 30px;
        color: white;
    }
    h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 20px;
        span {
            font-weight: 600;
            font-size: 20px;
            text-decoration: underline;
        }
    }
    p {
        font-weight: 500;
        font-size: 15px;
        display: flex;
        align-items: start; 
        gap: 10px;
    }
    h4 {
        font-weight: 400;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    ion-icon {
        font-size: 20px;
        color: white;
        
    }
}

.time-block {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgba(255, 255, 255, 0.479);
    margin-bottom: 30px;
    ion-icon {
        font-size: 20px;
        color: rgba(1, 52, 117, 1);
    }
}

.time:hover {
    color: white;
    background: rgba(1, 52, 117, 1);
    transform: scale(1.1);
}

.time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    h2 {
        font-weight: 600;
        font-size: 14px;
        color: white;
    }
    hr {
        color: black;
    }
}

.time {
    background: rgba(1, 52, 117, 0.5);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

@media (max-width: 1140px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1150px) {
    .bloc {
        overflow-x: scroll;
        scrollbar-width: none;
    
        
    }

    .header-nav {
        gap: 35px;
        a {
            font-size: 14px;
        }
    }
    .header-logo {
        img {
            width: 200px;
        }
        gap: 90px;
    }
    .footer {
        img {
            width: 200px;
        }
        a {
            font-size: 14px;
        }
        h2 {
            font-size: 15px;
        }
    }
    .djevy {
        img {
            width: 300px;
        }
    }
    .djevy-text {
        h1 {
            font-size: 25px;
        }
        ion-icon {
            font-size: 20px;
        }
        h3 {
            font-size: 15px;
            span {
                font-size: 15px;
            }
        }
        h4 {
            font-size: 12px;
        }
    }
    .time {
        gap: 10px;
        padding: 10px 15px;
        h2 {
            font-size: 15px;
        }
    }
    #info {
        .info {
        h1 {
            font-size: 25px;
        }
        p {
            font-size: 15px;
        }
    }
    }
}

@media (max-width: 1081px) {
    
}

@media (max-width: 1001px) {
    .header-nav {
        gap: 30px;
        font-size: 10px;
    }
}

@media (max-width: 960px) {
    .header-logo {
        gap: 50px;
    }
    
    .header-nav {
        gap: 25px;
    }
}

@media (max-width: 915px) {
    .header-logo {
        gap: 20px;
    }
    .header-nav {
        gap: 20px;
        a {
            font-size: 13px;
        }
    }
    .block {
        img {
            width: 200px;
        }
        h2 {
            font-size: 14px;
        }
        h3 {
            font-size: 12px;
        }
        h4 {
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }
    }
    .hero-title {
        h1 {
            font-size: 20px;
        }
    }
    .time-block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        ion-icon {
            display: none;
        }
    }
}

@media (max-width: 870px) {
    .time-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        ion-icon {
            display: none;
        }
    }
    #info {
        .info {
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
}
}

@media (max-width: 855px) {
    .header-logo {
        gap: 10px;
        img {
            width: 150px;
        }
        .header-top {
        input {
            width: 300px;
            height: 38px;
        }
        ion-icon {
            font-size: 20px;
        }
        ::placeholder {
            font-size: 12px;
        }
    }
    }
    .header-nav {
        gap: 20px;
        a {
            font-size: 12px;
        }
    }
    .footer {
        img {
            width: 150px;
        }
        h2 {
            font-size: 12px;
        }
        a {
            font-size: 12px;
        }
    }
}

@media (max-width: 785px) {
    .header-logo {
        gap: 10px;
        
    }
    .header-nav {
        gap: 20px;
        a {
            font-size: 10px;
        }
    }
    .block {
        img {
            width: 150px;
        }
        h2 {
            font-size: 12px;
        }
        h3 {
            font-size: 10px;
        }
        h4 {
            font-size: 10px;
            span {
            font-size: 13px;
        }
        }
        p {
            font-size: 10px;
        }
        ion-icon {
            font-size: 13px;
        }
        
    }
}

@media (max-width: 745px) {
    .djevy {
        flex-direction: column;
        img {
            width: 300px;
        }
    }
    .time-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        ion-icon {
            display: none;
        }
    }
    .time {
        gap: 8px;
        padding: 8px 13px;
        h2 {
            font-size: 12px;
        }
    }
    #info {
        .info {
        h1 {
            font-size: 18px;
        }
        p {
            font-size: 10px;
        }
    }
    }
}

@media (max-width: 685px) {
    .header-nav {
        gap: 12px;
        a {
            font-size: 10px;
        }
    }
    .block {
        img {
            width: 130px;
        }
        h2 {
            font-size: 10px;
        }
        h3 {
            font-size: 9px;
        }
        h4 {
            font-size: 10px;
            span {
            font-size: 11px;
        }
        }
        p {
            font-size: 8px;
        }
        ion-icon {
            font-size: 10px;
        }
    }
}

@media (max-width: 610px) {
    .header-nav {
        gap: 10px;
        a {
            font-size: 8px;
        }
    }
    .header-logo {
        gap: 10px;
        img {
            width: 150px;
        }
        .header-top {
        input {
            width: 200px;
            height: 28px;
        }
        ion-icon {
            font-size: 15px;
        }
        ::placeholder {
            font-size: 10px;
        }
    }
    }
    .footer {
        img {
            width: 120px;
        }
        h2 {
            font-size: 10px;
        }
        a {
            font-size: 10px;
        }
    }
    #info {
        .info {
        h1 {
            font-size: 15px;
        }
        p {
            font-size: 8px;
        }
    }
    }
}

@media (max-width: 503px) {
    .header-logo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        img {
            align-items: start;
            width: 200px;
        }
        .header-top {
        input {
            width: 300px;
            height: 30px;
        }
        ion-icon {
            font-size: 15px;
        }
        ::placeholder {
            font-size: 10px;
        }
    }
    }
    .header-nav {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 10px;
        a {
            font-size: 10px;
            border: 2px solid rgba(255, 255, 255, 0.358);
            padding: 5px 10px;
            border-radius: 10px;
        }
        a:hover {
            border: 2px solid white;
            padding: 5px 10px;
            transform: scale(1.1);
        }
    }

    .hero-text {
        gap: 5px;
    }

    .block {
        img {
            width: 100px;
        }
        h2 {
            font-size: 10px;
        }
        h3 {
            font-size: 7px;
        }
        h4 {
            font-size: 8px;
            .span {
            font-size: 9px;
            }
        }
        p {
            font-size: 8px;
        }
        ion-icon {
            font-size: 10px;
        }
    }
}

@media (max-width: 400px) {
    .header-logo {
        .header-top {
        input {
            width: 230px;
            height: 30px;
        }
        ion-icon {
            font-size: 15px;
        }
        ::placeholder {
            font-size: 10px;
        }
    }
    }
    .footer {
        img {
            width: 100px;
        }
        h2 {
            font-size: 8px;
        }
        a {
            font-size: 8px;
        }
    }
}

@media (max-width: 340px) {
    .header-nav {
        gap: 5px;
        padding: 10px;
        a {
            font-size: 9px;
            border: 2px solid rgba(255, 255, 255, 0.358);
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}

#info {
    padding: 50px 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        font-weight: 500;
        font-size: 30px;
        color: white;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.77);
    }
    hr {
        color: blue;
    }
}

.line {
    width: 90%;
    height: 2px;
    background: rgb(2, 2, 102);
}

#spictakl {
    padding: 50px 0;
}

.spectakle-block {
    display: flex;
    align-items: center ;
    justify-content: start;
    gap: 30px;
}